In [1]:
print()

In [3]:
print('Bruce Campbell')

Bruce Campbell

In [7]:
"Welcome to Kingdom"

'Welcome to Kingdom'

In [8]:
230+32900

33130

In [10]:
print('this is an apple','it is fruit','i dont like apple')

this is an apple it is fruit i dont like apple

In [26]:
print(1,2,3,4,2.5,33.2)

1 2 3 4 2.5 33.2

In [16]:
print('This is python')
print('we are going to code')
print('And learn the secretes of python')
print('thats it!')

This is python
we are going to code
And learn the secretes of python
thats it!

In [17]:
print('This is python \nwe are going to code \nAnd learn the secretes of python \nthats it!')

This is python
we are going to code
And learn the secretes of python
thats it!

In [19]:
import this

In [21]:
print('''This is python Data Science
we are going to code
And learn the secretes of python
Thats it!
''')

This is python Data Science
we are going to code
And learn the secretes of python
Thats it!

there are few settings in print function that we can provide whenever we want to print something.

In [25]:
print(1,2,33.2,3, sep='ðŸ¥¶ðŸ¥¶')

1ðŸ¥¶ðŸ¥¶2ðŸ¥¶ðŸ¥¶33.2ðŸ¥¶ðŸ¥¶3

In [28]:
print('This', end=' ')
print('is', end=' ')
print('multiline', end=' ')
print('message', end=' ')

This is multiline message

Creating a variable in python is super easy-
age=18
name='bob'
color2='red'
is_sleeping=False

In [34]:
age = 121
name = 'nobita'
is_married = True
color2 = 'red'

In [37]:
name = 'nobita & suzuka'

data type can be changed by changing the value of a variable.

In [38]:
age = 24

In [43]:
x = 523314
y = 524794877
z = 93847363094775656902002737645123454987476534300000002222777464655447882636646410099838

# Integer
Integer in python, means any numerical value(positive or negative)
integer can be of any length , it is only limited by the memory available
we can use the type() function to know which class a variable or a value belong to
 1, +2
 # Example
 x = 523314
 y = 524794877
 z = 93847363094775656902002737645123454987476534300000002222777464655447882636646410099

# String - 
String literals in python are surrounded by either single quatation marks, or double quatation  marks.
MULTILINE STRINGS : We can assign a multiline string by using 3 quotes '''hey'''

# del
del is the use to delete the variable from the memory

In [44]:
del age

# Boolean
True or False

In [46]:
is_coding = True
is_fun = True
are_u_bored = False

# Nonetype 
null value and no value at all
CREATE a empty variable

In [47]:
a = [5,10,15,20,30,40]
vals =[1,2.2,'python']
color = ['red','green','yellow']

# Tuples-

In [48]:
a = (5,10,15,20,30,40)
vals =(1,2.2,'python')
color = ('red','green','yellow')

# Set-

In [51]:
a = {2,3,5,7,6,55,4,22,88}
vals = {1,2.2,'python'}
colors = {'red','yellow','green'}

# Dictionaries

In [54]:
car_info = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1920
}

# input in python

In [55]:
name = input('What is your name?')
city = input('what city do you live in? ')
print('So according to you')
print('you are',name)
print('and you live in',city)

So according to you
you are nidhi
and you live in lucknow

# Keywords and operation-
35 keywords in the python
# 1- arithmetic operator

In [2]:
a=10
b=3

print(a+b) # add
print(a-b) # sub
print(a*b) # mul
print(a/b) # float div
print(a//b) # int div
print( 23 % 5 ) #remainder
2**10 # **represented exponential

13
7
30
3.3333333333333335
3
3

1024

In [3]:
# assignment operators
a=10
b=5
c=3
# alternate way to assign a value to a variable
x, y, z = 10, 20, 30

a +=2 # update a with a+2
a -=3 # update a with a-3
a *=4 # update a with a*4
a /=2 # update a with a/2
a %=3 # update a with a%3

In [4]:
# Comparison operator
print(a>b) # greater than
print(a>=b) #greater than or equal to
print(a<b)  #less than
print(a<=b) #less than or equal to
print(a==b) #equal tp
print(a!=b) # not equal to

False
False
True
True
False
True

In [6]:
# logical operator (and , or , not)
print(a>b and a>5)
print(a<b and a>5)
print(a<b or a>5)
print(a>b or a>5)
print(not a>b)
print(not a<b)
print(not a and not b and not c)

False
False
True
False
True
False
False

In [7]:
# membership operators-
#  ( Keyword =It is use for searching operators in list,strings, sets,tuples etc.)
colors = ['red','orange','blue','green','yellow']
print('red'in colors)
print('yellow'in colors)
print('blue'in colors)
print('orange'in colors)
print('green'in colors)
# we also use 'in' in strings also (we can also use 'not in')
msg = "Its the journey that matters"
print('journey' in msg)
print('destination' in msg)

True
True
True
True
True
True
False

In [ ]:
# is operator check wheter two objects belong to same memory location or not

# question
wap to calculate the area of circle-

In [36]:
#area of circle
r=3
pi = 3.14
area=pi*r**2
print(area, 'for a circle with radius')
#or
radius = int(input('Enter the radius of the circle: '))
area = 3.14*radius**2
print(area, 'for a circle with radius', radius)

28.26 for a circle with radius
28.26 for a circle with radius 3

In [1]:
#area of triangle
h=float(input('Enter height => '))
b=float(input('Enter breath => '))
area_tri=1/2*(h*b)
print('area of traingle is => ', area_tri)

area of traingle is =>  138.0

In [9]:
# area of rectangle
l=float(input('Enter length =>'))
b=float(input('Enter breath =>'))
area=l*b
print('area of rectangle is', area)

area of rectangle is 6.0

In [24]:
import math

In [26]:
math.pi
math.hypot

In [30]:
import math
p = float(input('Enter perpendicular'))
b = float(input('Enter base'))
h = math.hypot(p,b)
print('Hypotenuese is',h)

Hypotenuese is 3.6055512754639896

In [50]:
# factorial
num=int(input("enter number: "))
fact=math.factorial(num)
print(fact)

120

In [48]:
# compund interest
p=int(input("enter principal"))
r=int(input("enter rate"))
n=int(input("enter number of time interest paid"))
t=int(input("number of time periods"))
c=p*(1+r/n)**(n*t)
print("the Compound Interest" ,c)

the Compound Interest 1.9339037543253455e+132