## Tuple

- tuple is similar to the list

In [1]:
a = (1,2,3,4)
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [2]:
b = 1,3,5,7
print(b)
print(type(b))

(1, 3, 5, 7)
<class 'tuple'>

In [3]:
for val in a:
    print(val)

1
2
3
4

In [4]:
# concatenation
print((1,2,3) + (4,5,6))

(1, 2, 3, 4, 5, 6)

In [5]:
# Repeat
print(("Repeat",)*3)

('Repeat', 'Repeat', 'Repeat')

In [6]:
my_tuple = ('a', 'p', 'p', 'l', 'e')
print(my_tuple.count('p'))
print(my_tuple.count('l'))

2
1

In [7]:
al = list(a)
print(al)

[1, 2, 3, 4]

In [8]:
val = [2,3,12,312,43,21,342,]
print(val)
valt = tuple(val)
print(valt)

[2, 3, 12, 312, 43, 21, 342]
(2, 3, 12, 312, 43, 21, 342)

## Set

In [9]:
s1 = {1,2,3,4,5,6,7,8,9,10,1,1}
print(s1)
print(type(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

In [10]:
# We can make set from a list
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [11]:
# set canot have duplicates
my_set = {1,2,3,4,1,2}
print(my_set)

{1, 2, 3, 4}

my_set = {1,2,[3,4]} 
# error -> here [3,4]

# Creating a empty set is a bit tricky

- To make a set without any elements, we use the set() function without any argyment.

In [12]:
# empty set
# initialize a with set()
a = set()

#check data type of a
print(type(a))

<class 'set'>

In [13]:
# initialize my_set
my_set = {1,3}
print(my_set)

{1, 3}

In [14]:
# add an element
my_set.add(2)
print(my_set)

{1, 2, 3}

In [15]:
# add multiple element
my_set.update([2,3,4])
print(my_set)

{1, 2, 3, 4}

In [16]:
#add list and set
my_set.update([4,5],{1,6,8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

- Removing items from set

In [17]:
# initialize my_set
my_set ={1,3,4,5,6}
print(my_set)

{1, 3, 4, 5, 6}

In [18]:
# discard an element
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [19]:
# remove an element
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [20]:
# pops a random item
my_set.pop()
print(my_set)

{3, 5}

In [21]:
# clear my_set
my_set.clear()
print(my_set)

set()

# set operations

In [22]:
A = {1,2,3,4,5,6}
B = {6,5,7,8,9,10}

In [23]:
# use | operator
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [24]:
# use union function
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [25]:
#use union function on B
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# set intersection

In [26]:
# use & operator for intersection
print(A & B)

{5, 6}

In [27]:
A.intersection(B)

{5, 6}

# set difference

In [28]:
# use  - operator on A
print(A - B)

{1, 2, 3, 4}

In [29]:
# use difference function on A
A.difference(B)

{1, 2, 3, 4}

In [30]:
# use ^ operator
print(A^B)

{1, 2, 3, 4, 7, 8, 9, 10}

In [31]:
# use symmetric_difference function on A
A.symmetric_difference(B)

{1, 2, 3, 4, 7, 8, 9, 10}

In [32]:
# Create 2 sets of electric devices and perform set operation on them
X = {'Light', 'AC', 'Mouse', 'Freezer', 'Clock', 'Oven'}
Y = {'Clock', 'Oven', 'Radio', 'Printer', 'Computer'}

# union
print("union of electric device->",X|Y)

# intersection
print("intersection of electric device->",X & Y)

# set difference
print("difference between sets ->", X-Y)

# use ^ operator
print("use ^ operator between the sets ->", X^Y)

#  use symmetric_difference function on X
print("use symmetric difference function ->",X.symmetric_difference(Y))

union of electric device-> {'Printer', 'Light', 'Mouse', 'Clock', 'Computer', 'Oven', 'Radio', 'AC', 'Freezer'}
intersection of electric device-> {'Clock', 'Oven'}
difference between sets -> {'Freezer', 'Light', 'Mouse', 'AC'}
use ^ operator between the sets -> {'Printer', 'Light', 'Mouse', 'Computer', 'Radio', 'AC', 'Freezer'}
use symmetric difference function -> {'Printer', 'Light', 'Mouse', 'Computer', 'Radio', 'AC', 'Freezer'}

- Dictionary

accessing elements fron dictionary

In [33]:
# get vs []for retrieving elements
my_dict = {'name':"jack",'age': 26}

In [34]:
print(my_dict['name'])

jack

In [35]:
print(my_dict.get('age'))

26

In [36]:
# trying to access keys which
# doesn't exist throws error
''' print(my_dict['address']) '''

" print(my_dict['address']) "

In [37]:
# update value
my_dict['age'] = 27

In [38]:
# add item
my_dict['address'] = 'Lucknow'

In [39]:
print(my_dict)

{'name': 'jack', 'age': 27, 'address': 'Lucknow'}

# Removing elemments from dictionary

In [40]:
# create a dictionary
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [41]:
# remove a particular item, returns its value
print(squares.pop(4))

16

In [42]:
# remove an arbitrary item, return (key, value)
print(squares.popitem())

(5, 25)

In [43]:
# remove all items
squares.clear()

In [44]:
print(s1)
s1 = list(s1)            # set to list
print(s1)
st = tuple(s1)           # set to tuple
print(st)
a = set([1,2,3,1,3,3,3,4,4,4,2,1])           # list to set
print(a)
b = set([1,1,2,2,3,4,4,3,2,5,3,1,1,2])       # tuple to set
print(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
{1, 2, 3, 4}
{1, 2, 3, 4, 5}

# Dictionary

In [45]:
report = {
    'student 1': {
        'name': 'John',
        'marks': {
            'maths': 80,
            'science': 73,
            'history': 80,
            'english': 60,
            'evs': 90
        }   
    },
    'student 2' :{
        'name': 'Mary',
        'marks': {
            'maths': 90,
            'science': 80,
            'history': 70,
            'english': 75,
            'evs': 80
        }    
    }
}

In [46]:
print(report['student 1'])

{'name': 'John', 'marks': {'maths': 80, 'science': 73, 'history': 80, 'english': 60, 'evs': 90}}

In [47]:
print(report['student 1']['name'])
print(report['student 1']['marks'])
print(report['student 1']['marks']['history'])

John
{'maths': 80, 'science': 73, 'history': 80, 'english': 60, 'evs': 90}
80

In [48]:
# loop for dictionary
for k,v in report.items():       # k for key & v for value 
    print(k,v)

student 1 {'name': 'John', 'marks': {'maths': 80, 'science': 73, 'history': 80, 'english': 60, 'evs': 90}}
student 2 {'name': 'Mary', 'marks': {'maths': 90, 'science': 80, 'history': 70, 'english': 75, 'evs': 80}}

In [49]:
# nested loop for dictionary
for k, v in report.items():
    print("student:", k)
    if isinstance(v,dict):       # isinstance is use for check it is dictonary  or not
        for k1, v1 in v.items():
            if isinstance(v1,dict):
                for sub,marks in v1.items():
                    print(sub,marks)
            else:
                print(v1)
    else:
        print(v)

student: student 1
John
maths 80
science 73
history 80
english 60
evs 90
student: student 2
Mary
maths 90
science 80
history 70
english 75
evs 80

In [50]:
list.append?

Signature: list.append(self, object, /)
Docstring: Append object to the end of the list.
Type:      method_descriptor

In [51]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method