## List

List can be created by the uses of [] brackets with values inside it separated with commas.

In the list there are 11 functions.
* count() - Returns the number of items with the sepecified value.
* index() - Returns the indexof the first element with the specified value.
* copy()  - Returns a copy of the list.
* clear() - Removes all the elements from the list.
* pop()   - Removes the element at the specified position.

In [1]:
# List of strings
list1 = ["Rafat", "Nidhi","Harshita","Sakshi","Khushi"]

#list of Numbers
list2 = [1,2,3,4,5,9,18,48,100]

# Mixed data list
list3 = ['Ravi' ,90,49,88,80,44,"B",False,5.789]

# Nested List
list4 = [[1,2,3],[3,4,5,6],[5,3]]

In [6]:
# Accessing ;ist items in python-
list1 = [2,3,6,'A',10,'B',16,'C,20']

# First Item-
print('list1[0]=',list1[0])

# third item-
print('list1[2]=',list1[2])

# Last Item-
print('list1[-1]=',list1[-1])

# Last third item-
print('list1[-3]=',list1[-3])

list1[0]= 2
list1[2]= 6
list1[-1]= C,20
list1[-3]= B

In [10]:
# Getting a list slice-

l = [10,20,30,40,50,60,70,80,90,100]
slice1 = l[3:-2]
print(slice1)

[40, 50, 60, 70, 80]

In [60]:
# Getting a list slice-

l = [10,20,30,40,50,60,70,80,90,100]
print('The list from 0 to 4 =' ,l[:4])
slice1 = l[:8]
print(slice1)

The list from 0 to 4 = [10, 20, 30, 40]
[10, 20, 30, 40, 50, 60, 70, 80]

In [2]:
books =[
    'legion',
    'legion: Skin Deep',
    'the final',
    'bangel seller',
    'daffodils',
    'Oathbringer'

]

In [17]:
books[:3] # first 3 books

['legion', 'legion: Skin Deep', 'the final']

In [27]:
books[3:4] # all except firts 3 and last 4 books

['bangel seller']

In [26]:
# Apped Function 

fruits = []
fruits.append('Apple')
fruits.append('Banana')
fruits.append('Cherry')
fruits.append('Guava')
print("fruits = ", fruits)

fruits =  ['Apple', 'Banana', 'Cherry', 'Guava']

In [42]:
books.append('Firefight')
books.append('Rythm of war')
print(books)

['Nightblood', 'The  hero of ages', 'bangel seller', 'daffodils', 'legion', 'legion: Skin Deep', 'the final', 'Firefight', 'Rythm of war']

In [28]:
# Insert Function- (insert and append work same)

fruits = ['apple', 'banana', 'cherry']
fruits.insert(1,"orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [29]:
books.insert(6,'The  hero of ages')
print(books)

['legion', 'legion: Skin Deep', 'the final', 'bangel seller', 'daffodils', 'The  hero of ages']

In [3]:
books.insert(100,'Nightblood') #unfeasible index, will be added to the end of the list

In [31]:
# Extend function-  (use for add two lists)

fruits = ['apple', 'banana', 'cherry']
dry_fruits = ['almond', 'cashew', 'walnut']
fruits.extend(dry_fruits)
print(fruits)

['apple', 'banana', 'cherry', 'almond', 'cashew', 'walnut']

In [32]:
# Sort function -

fruits = ['Guava','apple', 'banana', 'cherry'] #sortings are always alphabeticals
fruits.sort()
print(fruits)

['Guava', 'apple', 'banana', 'cherry']

In [33]:
books.sort(reverse=True)
print(books)

['the final', 'legion: Skin Deep', 'legion', 'daffodils', 'bangel seller', 'The  hero of ages', 'Nightblood']

In [34]:
x = [1,2,2,3,3,2,2,2,2,5,5,5,11,1,1]
x.sort()
print(x)

[1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 5, 5, 5, 11]

In [35]:
# Remove always remove one item at a time.

if 1 in x:
    x.remove(1)
    print(x)
    if 4 in x:
        x.remove(4)
        print(x)

[1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 5, 5, 5, 11]

In [38]:
x.remove(3) if 3 in x else print('not found')

not found

In [39]:
print(x)

[1, 1, 2, 2, 2, 2, 2, 2, 5, 5, 5, 11]

In [40]:
books.reverse()  #reverse the list
print(books)

['Nightblood', 'The  hero of ages', 'bangel seller', 'daffodils', 'legion', 'legion: Skin Deep', 'the final']

In [41]:
books[::-1] # reverse the list

['the final',
 'legion: Skin Deep',
 'legion',
 'daffodils',
 'bangel seller',
 'The  hero of ages',
 'Nightblood']

In [6]:
# Count Function -

x = [1,2,3,4,5,6,45,1,1,1,2,2,3,3,3,2,2,1,1,87,99]
x.count(1)

6

In [49]:
# Index function-

movies = [
    'Nightblood',
    'The  hero of ages',
    'bangel seller', 
    'daffodils', 
    'legion', 
    'legion: Skin Deep', 
    'the final']
movies.index('legion')

4

In [50]:
len(books)

9

In [54]:
oathidx = books.index('Oathbringer')
print(oathidx)
books[oathidx:]

5

['Oathbringer']

In [55]:
books[books.index('Oathbringer'): ]

['Oathbringer']

In [56]:
## Copy function-

fruits = ['cherry','guava','mango','apple']
dup_fruits = fruits.copy()
print(dup_fruits)

['cherry', 'guava', 'mango', 'apple']

In [57]:
## Clear function- (clear function use for clear all the items in tha list)

fruits = ['cherry','guava','mango','apple']
fruits.clear()
print(fruits)

[]

In [58]:
## pop function- (it is pop the last value of the list)

# By list.pop() method-
fruits = ['cherry','guava','mango','apple']
v = fruits.pop()
print(v)

apple

In [59]:
# By list.pop(idx) method-

fruits = ['cherry','guava','mango','apple']
v = fruits.pop(2)
print(v)

mango

## WAP to create list of 5 values given by the user

In [62]:
ex = []
for i in range(5):
    val = input(f'enter 5 integers {i+1}: ')
    ex.append(val)
print(ex)

['32', '42', '53', '64', '64']

WAP to display sum of a list

In [67]:
data = [23,43,53,85,86,97,74]
total = 0
for i in data:
    total += i
    print(total)

23
66
119
204
290
387
461

In [68]:
data = [23,43,53,85,86,97,74]
total = 0
for i in data:
    total += i
print(total)

461

In [9]:
# Mean

In [ ]:
mean, mode, median, max,min